In [18]:
import pandas as pd

In [ ]:
df = pd.read_csv("../data/retail_sales_dataset.csv")
# to Load raw dataset

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])
# to Convert Date column

In [ ]:
df.drop_duplicates(inplace=True)
#  to Remove duplicate rows

In [ ]:
df['Estimated_Profit'] = df['Total Amount'] * 0.25
df['Profit_Margin'] = df['Estimated_Profit'] / df['Total Amount']
# feature

In [ ]:
df['Age_Group'] = pd.cut(
    df['Age'],
    bins=[0, 25, 35, 50, 100],
    labels=['18-25', '26-35', '36-50', '50+'] )
# TO Create Age Groups

In [ ]:
print(df.head())
print(df.isnull().sum())
# final check

   Transaction ID       Date Customer ID  Gender  Age Product Category  \
0               1 2023-11-24     CUST001    Male   34           Beauty
1               2 2023-02-27     CUST002  Female   26         Clothing
2               3 2023-01-13     CUST003    Male   50      Electronics
3               4 2023-05-21     CUST004    Male   37         Clothing
4               5 2023-05-06     CUST005    Male   30           Beauty

   Quantity  Price per Unit  Total Amount  Estimated_Profit  Profit_Margin  \
0         3              50           150              37.5           0.25
1         2             500          1000             250.0           0.25
2         1              30            30               7.5           0.25
3         1             500           500             125.0           0.25
4         2              50           100              25.0           0.25

  Age_Group
0     26-35
1     26-35
2     36-50
3     36-50
4     26-35
Transaction ID      0
Date                0
Customer ID         0
Gender              0
Age                 0
Product Category    0
Quantity            0
Price per Unit      0
Total Amount        0
Estimated_Profit    0
Profit_Margin       0
Age_Group           0
dtype: int64

In [ ]:
df.to_csv("../data/clean_retail_sales.csv", index=False)
# Save cleaned dataset